.button {
    color: rgb(239, 238, 233);
    background-color: rgb(18, 18, 17);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 12px;
    border-radius: 6px;
    width: 100%;
    transition-duration: 0.4s;
}

.button4:hover {
    background-color:rgb(199, 22, 22);
    color:rgb(255, 255, 255);
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: blur(2px);
}

body {
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.hover-underline {
  font-size: 2rem;
  color: #000000;
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #ff00ff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}
