.button {
    color: rgb(239, 238, 233);
    background-color: rgb(18, 18, 17);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 12px;
    border-radius: 6px;
    width: 100%;
    transition-duration: 0.4s;
}

.button:hover {
    background-color:rgb(199, 22, 22);
    color:rgb(255, 255, 255);
}